*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins',sans-serif;
    text-decoration: none;
    list-style: none;
}
html {
    scroll-behavior: smooth;
    scroll-padding-top: 60px; /* Adjust this value to the height of your navbar */
  }  
.header{
    position: fixed;
    top:0;
    left:0;
    right:0;
    padding-top: 30px;
    padding-bottom:20px;
    padding-left: 12%;
    padding-right: 12%;
    background-color: rgba(175, 115, 240, 0.8);
    backdrop-filter: blur(10px);
    display:flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 25px;
    color: aliceblue;
    font-weight: 600;
    transition: 0.3s ease;
}
.logo:hover{
    color:rgb(57, 28, 116);
    transform: scale(1.1);
}
span{
    color: rgb(57, 28, 116);
}
.navbar a{
    font-size: 18px;
    color: white;
    font-weight: 500;
    margin:0 25px;
    border-bottom: 3px solid transparent;
    transition: 0.3 ease;
}
.navbar a:hover,
.navbar a.active{
    color: rgb(57, 28, 116);
    border-bottom: 3px solid rgb(57, 28, 116);
}
.Contact{
    padding:10px 30px;
    background-color: white;
    color:black;
    border:2px solid transparent;
    border-radius: 8px;
    align-items: center;
    font-size:16px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3 ease;
}
.Contact:hover{
    background-color:rgb(57, 28, 116);
    box-shadow: 0 0 25px transparent;
    color: white;
}
.home{
    width:100%;
    min-width: 100vh;
    background:rgb(241,241,241);
    display: flex;
    align-items: center;
    gap:7em;
    padding: 150px 15% 0;
    height:700px;
}
.home-content{
    max-width: 800px;
}
.home-content h3{
    font-size: 42px;
}
.home-content h1{
    font-size: 52px;
    line-height: 1.2;
}
.home-content p{
    font-size: 18px;
    font-weight: 300;
    margin: 25px 0 30px;
}
btn-box{
    width: 345px;
    display: flex;
    gap:2em;
}
.btn-1{
    background-color: rgba(175, 115, 240, 0.8);
    color:white;
    padding:15px 28px;
    border:2px solid transparent;
    border-radius: 8px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3 ease;
    cursor: pointer;
    border: 2px solid black;
    margin-bottom:10px;

}
.btn-1:hover{
    background-color: white;
    color:black;
}

.btn-2{
    background-color:rgb(57, 28, 116);
    color: white;
    padding:15px 28px;
    border:2px solid transparent;
    border-radius: 8px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3 ease;
    cursor: pointer;
    margin-bottom: 10px;
    border: 2px solid black;

}
.btn-2:hover{
    background-color: white;
    color:rgb(57, 28, 116);
}
.img-box img{
    border-radius: 50%;
    width:400px;
}
::-webkit-scrollbar{
    width:15px;
}
::-webkit-scrollbar-thumb{
    background-color:rgb(57, 28, 116);
}
::-webkit-scrollbar-track{
    background-color: rgba(0, 0, 0, 0.578);
    width:50px;
}
.about{
    display: flex;
    justify-content:center;
    align-items:center;
    padding: 12% 8%;
    gap:10em;
    height: 710px;
    background-color: rgba(208, 146, 225, 0.533);
}
.about img{
    position: relative;
    width:400px;
    border-radius: 50%;
}
.about-content h2 {
    margin-top:75px;
    text-align: left;
    color:rgb(64, 28, 105);
    font-size: 42px;
}
.about-content h3{
    color: rgb(36, 34, 34);
    text-align: left;
    font-size: 48px;
}
.about-content p{
    color: rgb(36, 34, 34);
    font-size: 20px;
    margin:1em 0 2em;
}
.contact-form{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top:2em;
    background-color: rgba(208, 146, 225, 0.533);
    flex-direction: column;
    margin-bottom: 0em;
    padding-bottom: 4.5em;
}
.contact-me{
    margin-top:1.5em;
    font-size: 32px;
}
.input-box{
    width:auto;
    margin:5px;
    padding: 30px;
}
input{
    margin-left:8px;
}
input,#textmsg{
    background-color: rgba(208, 146, 225, 0.533);
    width: 100%;
    margin-bottom: 10px;
    border-radius:15px;
    border:none;
    margin:1em 2em;
    display: block;    
    text-align: left;
    font-size: 15px;
    padding:15px 50px;
    outline: none;
    box-shadow: none;
   
}
.heading{
    color:rgb(36, 34, 34);
    font-size: 40px;
}
body{
    font-family: "PT Serif", serif;
    font-style: normal;
}
p{
    font-family: "PT Serif", serif;
    font-weight: 100;
    font-style:  italic;
}
form{
    background-color:white;
    margin:2em 3em;
    padding-bottom: 15px;
    border-radius: 2px;
    min-width:50%;
    height: 20%;
    
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  appearance: textfield; 
  -moz-appearance: textfield;
}
.projects{
    display: flex;
    flex-direction:row;
    min-width: 100%;
    margin-top: 6em;
    margin-bottom: 6em;
    margin-left: 2em;
    margin-right: 2em;
    margin-left:0.5em;
    justify-content: center;
}
.project1 img,.project2 img,.project3 img{
  width: 300px;  
  height: 300px; 
  object-fit: cover; 
  margin:2em 2em;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
  cursor: pointer;
}
.projects img:hover {
    transform: scale(1.05);
  }
  .input-box {
    display: flex;
    align-items: flex-start;
    gap: 20px;
  }
  
  svg{
    width: 200px;
    height: auto;
    margin-right: 10%;
    margin-left: 10%;
  }
  footer{
    display: flex;
    align-self: flex-start;
    background-color: rgba(175, 115, 240, 0.8);
    width: 100%;
    height:100%;
    flex-direction: column;
    justify-content: space-around;
    padding:20px 20px 30px;
  }
  a{
    color: rgb(57, 28, 116);
    transform: scale(1.05);
  }
  i{
    margin:0.5em;
    background:rgb(241,241,241);
    padding:10px;
    border-radius: 5px;
  }
  .info i:hover{
    background-color: rgb(57, 28, 116);
    color: aliceblue;
    transform: 0.5s;
  }